
<img id="welcome-img" src="images/gymall.png"/>
<div class="container link-card">
    <div class="row link-pages justify-content-center">
        <div class="col-xl-4 col-md-6 col-sm-10">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/group.png" alt="group training">
                <a class="text-redirect" href="/classes">OUR CLASSES</a>
                </div>
                <a type="button"  class="btn btn-link" href="/classes">View our classes</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-10">
             <div class="card shadow">
                 <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/tube-training.jpg" alt="tube training">
                <a class="text-redirect" href="/login">LOG IN</a>            
                </div>
                <a type="button"  class="btn btn-link" href="/login">Log in and book a class</a>
            </div>
        </div>
    </div>
    <div class="row link-pages justify-content-center" id="link-page-bottom">
        <div class="col-xl-4 col-md-6 col-sm-10">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/reviews.jpg" alt="surfing">
                <a class="text-redirect" href="/reviews">REVIEWS</a>
                </div>
                <a type="button"  class="btn btn-link" href="/reviews">View our reviews</a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-10">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/kettle.jpg" alt="kettlebell">
                <a class="text-redirect" href="/signup">SIGN UP</a>
            </div>
                <a type="button"  class="btn btn-link" href="/signup">Sign up now!</a>
        </div>
    </div>
</div>